.header-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18rem;
  .name {
    font-size: 3rem;
    span {
      color: var(--color-secondary);
    }
  }
  p {
    margin: 1.5rem 0;
    line-height: 2rem;
  }
}