body {
  background-color: #ffd800;
  color: #1f1f1f;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Helvetica, Arial, Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
header, footer {
  flex-shrink: 0;
  position: fixed;
  width: 95%;
  background-color: #ffd800;
}
header { 
  width: 100%;
  top: -15px;
  padding-left: 25px;
  height: 100px;
}

footer {
  width: 97.5%;
  bottom: -30px;
  margin-left: -3px;
  margin-bottom: 3px;
  margin-top: -30px;
  height: 90px;
}
.text-size {
  font-weight: bold;
  color: #000;
  padding-left: 4px;
  margin: 0;
  padding-bottom: 0;
}
.selected-size {
  -webkit-text-stroke: 1.5px #000;
  color: #fff;
}

.power { 
  background-color: #1f1f1f;
  padding-left: 7.5px;
  padding-right: 7.5px;
  height: 45px;
  width: 90px;
  border-left: solid 2px #5f5f5f;
  border-bottom: solid 2px #3f3f3f;
  border-radius: 7.5px;
}

.power:hover { cursor: pointer; }

main { flex: 1 0 auto; }

a:link, a:active { color: #05a; }
a:visited { color: #409; }
a:hover { color: #a0a; cursor: pointer; }
a { text-decoration: none; }

/*
 *
 *  Media Queries
 *
 */

/* Default */
h1 { font-size: 36px; 
  padding-top: 15px; }
h2 { font-size: 24px; }
h3, .lang-headers { font-size: 13px; }
.check-it { font-size: 54px; }
.power { font-size: 24px; }
.lang { width: 100%; }
.description { font-size: 24px; }

/* Mid-Size */
@media (min-width: 720px) {
  h1 { font-size: 45px; 
    padding-top: 15px; }
  h2 { font-size: 24px; }
  h3, .lang-headers, p { font-size: 20px; }
  .check-it { font-size: 54px; }
  .description { font-size: 24px; }
}

/* Full-Size */
@media (min-width: 1000px) {
  h1 { font-size: 60px;}
  h2 { font-size: 36px; }
  h3, .lang-headers, p { font-size: 25px; }
  .check-it { font-size: 60px; } 
  .description { font-size: 30px; }
}

/* * { border: solid 1px crimson; } */
