body {
  background-color: #ffffe5;
  color: #1f1f1f;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Helvetica, Arial, Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
header, footer {
  flex-shrink: 0;
  position: fixed;
  width: 95%;
  background-color: #ffffe5;
}
header { 
  width: 100%;
  top: -15px;
  left: 30px;
  height: 100px;
}

footer {
  width: 96%;
  bottom: 0;
  margin-left: 10px;
  height: 60px;
}

mark { 
  background-color: #1f1f1f;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 5px;
}

main { flex: 1 0 auto; }

a:link, a:active { color: #05a; }
a:visited { color: #50a; }
a:hover { color: #a0a; cursor: pointer; }

/*
 *
 *  Media Queries
 *
 */

/* Default */
h1 { font-size: 36px; 
  padding-top: 15px; }
h2 { font-size: 24px; }
h3, .lang-headers { font-size: 13px; }
.check-it { font-size: 54px; }
.power { font-size: 35px; }
.lang { width: 240px; }
.description { font-size: 24px; }

/* Small-Size */
@media (min-width: 600px) {
  .lang { width: 360px; }
  .lang-headers { font-size: 15px; }
}
/* Mid-Size */
@media (min-width: 720px) {
  h1 { font-size: 45px; 
    padding-top: 15px; }
  h2 { font-size: 24px; }
  h3, .lang-headers, p { font-size: 20px; }
  .check-it { font-size: 54px; }
  .power { font-size: 35px; }
  .lang { width: 480px; }
  .description { font-size: 24px; }
}

/* Full-Size */
@media (min-width: 1000px) {
  h1 { font-size: 60px;}
  h2 { font-size: 36px; }
  h3, .lang-headers, p { font-size: 25px; }
  .check-it { font-size: 60px; } 
  .description { font-size: 30px; }
  .lang { width: 720px; }
}

/* * { border: solid 1px crimson; } */
