/**
 * Reset styling for all HTML elements
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$primary-text-color: #3f292a;
$secondary-text-color: #f7fff7;
$primary-background-color: #c21e56;
$secondary-background-color: #a20536;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
