.cloud {
  background: linear-gradient(
      to bottom,
      rgba($secondary-background-color, 1),
      rgba($primary-background-color, 0.7)
    ),
    url("/jung-cauz/images/ifoa.jpg");
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: bottom;

  height: auto;
  .grid {
    grid-template-columns: 5fr 2fr;
  }
}