/** Tablets and under */

@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
  }
  .showcase {
    height: auto;
    .showcase-text {
      text-align: center;
      margin-top: 40px;
    }
    .showcase-form {
      justify-self: center;
      margin: auto;
    }
  }
  .cloud {
    background-size: 500%;
  }
}

/** Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 140px;
    .flex {
      flex-direction: column;
    }
    ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .stats {
    padding: 10rem 0 5rem 0;
  }
}
