.stats {
  padding-top: 100px;
  .stats-heading {
    max-width: 640px;
    font-size: 18px;
    margin: auto;
    font-weight: 400;
  }
  .grid {
    h3 {
      font-size: 35px;
      font-weight: normal;
    }
    p {
      font-size: 20px;
      font-weight: normal;
      color: $secondary-background-color;
    }
  }
}
