/**
 *  Our global SCSS variables.
 */
$primary-color: #3f48cc;
$secondary-color: #fddc96;
$burnt-secondary-color: #cdbc76;
$tertiary-color: #fff;
$text-color: #fff;
$link-color--unvisited: #9fe5ff;
$link-color--hover: #c5a5ff;

/**
 *  Rules for reseting our styles.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if ((lightness($color) > 40%)) {
    @return $tertiary-color;
  } @else {
    @return $primary-color;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
