.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 1),
      rgba($primary-color, 0.6)
    ),
    url("/dist/background-img.jpg") center top;
  background-size: cover;

  &__name {
    font-size: 5rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}
